/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #087f5b
      GREY COLOR: #343a40
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-top: 400px; */
}

/* Style for the movie container */
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Style for individual movie cards */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: white;
    font-size: 1rem;
    text-align: center;
  }
}

.btn {
  border: 1px solid #087f5b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  color: #087f5b;
}

.btn:hover {
  background-color: #087f5b;
  color: #fff;
}

.btn:hover .btn-icon {
  stroke: #fff;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link.active,
.page-link.page-link--current {
  background-color: #087f5b;
  color: #fff;
}

.dots {
  color: #868e96;
}
